body {
  background: black;
  color: white;
  /* font-family: 'Lemonada', cursive; */
 
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
#area {
  /* font-family: 'Lemonada', cursive; */
  position: relative;
  display: grid;
  grid-template-rows: repeat(110, 6px);
  grid-template-columns: repeat(180, 6px);
}
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.red-pixel {
  position: absolute;
  display: none;
  top: 100px;
  left: 100px;
  width: 10px;
  height: 10px;
  border: 1px solid red;
}
.blue-pixel {
  position: absolute;
  display: none;
  top: 200px;
  left: 200px;
  width: 10px;
  height: 10px;
  border: 1px solid blue;
}
#menu {
  display: grid;
  position: absolute;
  width: 100%;
  height: 100%;
}
.category {
  display: grid;
  grid-template-columns: 1fr 4fr;
  border: 1px dotted grey;
}
.options {
  display: grid;
  border: 1px dotted burlywood;
  text-align: center;
  line-height: 100px;
}
.options-four {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.options-three {
  grid-template-columns: 1fr 1fr 1fr;
}
.options-two {
  grid-template-columns: 1fr 1fr;
}
.options div {
  border: 1px dotted red;
}
.options div:hover {
  background-color: red;
  cursor: pointer;
}
.options div:active {
  background-color: purple;
}
.what-it-is {
  text-align: center;
  line-height: 100px;
}
#controls {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 12fr 1fr;
  width: 100%;
  height: 100%;
  border: 1px solid grey;
  color: white;
  visibility: hidden;
}
#stats {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color: white;
  width: 100%;
  height: 100%;
  z-index: -5;
}
#stats-here {
  display: grid;
  grid-template-columns: 1fr 1fr
}
#stats-here p {
  cursor: pointer;
}
#stats-here p:hover {
  color: grey;
}
#stats-here p:active {
  color: lime;
}
.player-stat {
  visibility: hidden;
  border: 1px solid white;
  padding: 40px;
}
.menu-stuff {
  align-self: center;
  width: 130px;
}
label {
  color: white;
}
button {
  width: 20%;
  text-align: center;
  margin: 20px;
}
#winner-con {
  position: absolute;
  display: flex;
  justify-content: center;
  background-color: transparent;
  text-align: center;
  /* display: none; */
  font-size: 50pt;
  width: 100%;
  height: 100%;
  z-index: -4;
}
.player-para {
  visibility: hidden;
}
#inventory {
  display: flex;
}
.inv {
  display: flex;
  margin: 3px;
}
.slot {
  width: 10px;
  border: 1px dotted grey;
  margin: 2px;
}
.wins span {
  color: grey;
}
#red-wins {
  color: red;
}
#blue-wins {
  color: blue;
}
#green-wins {
  color: green;
}
#orange-wins {
  color: orange;
}
.orange-slot {
  color: orange;
}
.green-slot {
  color: green;
}
.blue-slot {
  color: blue;
}
.red-slot {
  color: red;
}
#ready {
  grid-column: 1 / span 4;
  text-align: center;
  border: 1px dotted grey;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
#ready:hover {
  background-color: white;
  color: black;
}
#ready:active {
  background-color: lime;
  color: white;
}
.player-para {
  border: 1px dotted burlywood;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  text-align: center;
}
#red-para:hover {
  background-color: red;
}
#blue-para:hover {
  background-color: blue;
}
#green-para:hover {
  background-color: green;
}
#orange-para:hover {
  background-color: orange;
}
#snakes-in-space {
  /* font-family: 'Lemonada', cursive; */
  display: flex;
  justify-content: center;
  top: 0;
  width: 100%;

  letter-spacing: 10pt;
  word-spacing: 5pt;
  font-style: oblique;
}
