body {
  background: black;
  color: blue;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}
#area {
  position: relative;
  border: 1px solid white;
  display: grid;
  grid-template-rows: repeat(110, 6px);
  grid-template-columns: repeat(180, 6px);
  width: 1080px;
}
#container {
  /* width: 500px;
  height: 500px; */
}
.boxes {
  border: 1px solid blue;
}
#area div {
  /* border: 1px solid grey; */
}
.red-pixel {
  position: absolute;
  display: none;
  top: 100px;
  left: 100px;
  width: 10px;
  height: 10px;
  border: 1px solid red;
}
.blue-pixel {
  position: absolute;
  display: none;
  top: 200px;
  left: 200px;
  width: 10px;
  height: 10px;
  border: 1px solid blue;
}
#menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  top: 100px;
  left: 100px;
  height: 500px;
  width: 500px;
  border: 1px solid yellow;
}
#controls {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  top: 15px;
  left: 300px;
  width: 300px;
  border: 1px solid grey;
  color: white;
  visibility: hidden;
}
#stats {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  top: 250px;
  left: 200px;
  color: white;
  visibility: hidden;
}
#stats-here {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 700px;
  margin-bottom: 30px;
}
.player-stat {
  visibility: hidden;
  border: 1px solid white;
  padding: 20px;
}
.menu-stuff {
  align-self: center;
  width: 130px;
}
label {
  color: white;
}
button {
  width: 20%;
  text-align: center;
  margin: 20px;
}
#winner-anim {
  position: absolute;
  background-color: transparent;
  text-align: center;
  /* display: none; */
  font-size: 50pt;
  top: 200px;
  left: 400px;
}
.player-para {
  visibility: hidden;
}
